
*{
  box-sizing: border-box;
  margin: 0;
}

html{
  direction: rtl;
}

/*---- Fonts ---**/

@font-face{
    font-family: "IBM";
    src: url("/fonts/IBMPlexSansArabic-Light.ttf");
    font-weight: 300;
}
@font-face{
    font-family: "IBM";
    src: url("/fonts/IBMPlexSansArabic-Thin.ttf");
    font-weight: 100;
}
@font-face{
    font-family: "IBM";
    src: url("/fonts/IBMPlexSansArabic-Regular.ttf");
    font-weight: 400;
}
@font-face{
    font-family: "IBM";
    src: url("/fonts/IBMPlexSansArabic-Bold.ttf");
    font-weight: bold;
}
@font-face{
    font-family: "IBM";
    src: url("/fonts/IBMPlexSansArabic-Medium.ttf");
    font-weight: 500;
}
@font-face{
    font-family: "IBM";
    src: url("/fonts/IBMPlexSansArabic-SemiBold.ttf");
    font-weight: 600;
}

